body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --airline-primary-color: #00369F;
  --airline-accent-color-1: #0d5bff;
  --airline-accent-color-2: #1c09d9;
  --airline-accent-color-3: #00618a;
  --airline-accent-color-4: #000707;
  scrollbar-color: var(--airline-primary-color) var(--airline-accent-color-1);
  }